
body{
  padding-top: 55px;
  padding-bottom: 30px;
}
#libfooter,#libfooter>ul,#libfooter li,#libfooter a{
  min-height: 25px;
  height:30px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 12px;
}
